#header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1em;
}
#button{
    display: flex;
    gap: 5px;
    
}
#header-container img{
    height: 6.5em;
}
#header-container button{
    height: 3em;
    padding: 1em;
    width: 7em;
    border: none;
    cursor: pointer;
}
#register{
    background-color: black;
    color:white;
}
#register:hover{
    background-color: rgb(42, 40, 40);
    color:white;
}

#signup:hover{
    background-color: black;
    color: white;
}




#nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}
#nav-bar ul li{
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    padding: 0.7em 0.7em;
    /* text-decoration: none; */
    font-family:  Helvetica, Arial, sans-serif;
    /* color: black; */

}
#nav-bar ul li:hover{
    cursor: pointer;
    background-color: rgb(191, 189, 189);
    
}
#nav-bar ul li a{
    color: black;
    text-decoration: none;
}
#trending-topic ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;

}
#trending-topic ul li{
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    padding: 0.7em 0.7em;
    /* text-decoration: none; */
    font-family:  Helvetica, Arial, sans-serif;
}
#trending-topic ul li:hover{
    cursor: pointer;
    background-color: rgb(191, 189, 189);
    
}
#trending-topic ul li a{
    color: black;
    text-decoration: none;
}
.linebrk{
    /* border: 0.5px solid black;
    width: 100%; */
    /* margin: 0 9em; */
    background-color: black;
    height: 1px;
}
h1{
    color: rgb(154, 12, 19);
    font-size: 55px;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}