#header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 1em 0 1em;
}
#button{
    display: flex;
    gap: 5px;
    
}
#header-container img{
    height: 3.5em
}
#header-container button{
    height: 3em;
    padding: 1em;
    width: 7em;
    border: none;
    cursor: pointer;
}
#register{
    background-color: black;
    color:white;
}
#register:hover{
    background-color: rgb(42, 40, 40);
    color:white;
}

#signup:hover{
    background-color: black;
    color: white;
}




#nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}
#nav-bar ul li{
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    padding: 0.7em 0.7em;
    text-decoration: none;

}
#nav-bar ul li:hover{
    cursor: pointer;
    background-color: rgb(191, 189, 189);
    
}